* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c0c0c;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}

code {
  font-family: 'Courier New', Courier, monospace;
}
